{% extends 'html.twig' %}

{% block contents %}
    <h1>
        Dashboard
    </h1>
    <p>Devices on your network. ( <a href="https://www.websocket.org/echo.html">https://www.websocket.org/echo.html</a> )</p>
    <div class="devices-row">


    </div>

    <pre>{{ dump(runtime) }}</pre>




{% endblock %}


{% block scripts %}
    <script >
        $("document").ready(function(){
            window.showonly="unregistered";
            devicedashboardinit();

        });
    </script>
{% endblock %}
