{% extends 'html.twig' %}

{% block contents %}
    <h1>
        Error!
    </h1>
    <p></p>
    <div class="devices-row">

    </div>

    <pre>{{ dump(runtime) }}</pre>

{% endblock %}


{% block scripts %}
    <script >
        $("document").ready(function(){


        });
    </script>
{% endblock %}
