{% extends 'html.twig' %}

{% block contents %}

    <!--
    <h1>
        Login / Register
    </h1>
    <p>
        xx
    </p>

    <h2>
        Privacy
    </h2>
    <p>
        xx
    </p>


    <form  action="/login"  method="post">
        <input name="username" type="text" value="admin">
        <input name="password" type="text" value="secret">
        <button>login</button>
    </form>
    --->
    <p><a href="{{ authorizationUrl }}" class="btn btn-small btn-info">login</a></p>
    <!--
    <p><a href="/logout">logout</a></p>
    -->
{% endblock %}
