{% extends 'html.twig' %}

{% block contents %}

    <h1>
        Logging in
    </h1>
    <p>
        xx
    </p>


{% endblock %}

{% block scripts %}
    <script >
        $("document").ready(function(){
            window.location="{{ runtime['auth']['AuthorizationUrl'] | raw }}";
        });
    </script>
{% endblock %}
