{% extends 'html.twig' %}

{% block contents %}

<h1>
    My Osboxes
</h1>

    <div class="devices-row">


    </div>

{% endblock %}


{% block scripts %}
<script >
    $("document").ready(function(){
        window.showonly="registered";
        devicedashboardinit();

    });
</script>
{% endblock %}
